<div>
  <div>
    <div></div>
    <div>
      <div></div>
      <div></div>
    </div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div
    style="
      margin: 0 auto;
      max-width: 580px;
      min-width: 260px;
      font: 16px sans-serif;
      background: #fff;
    "
  >
    <div
      style="
        text-align: left;
        font-size: 0;
        background: repeat-x
          url(https://ci5.googleusercontent.com/proxy/0ltO2spoMjkRnoQEhSbstpVmTLdn0tMYV-Ir8vtW0OtEVYuiQtPof9ScxcfcA2yMUJtAzuwQ_zaH9TkOXnkEulyxtA=s0-d-e1-ft#https://queue.bentoweb.com/img/email/airmail.gif)
          #fff;
      "
    >
      <div
        style="
          width: 100%;
          max-width: 100%;
          width: -webkit-calc(230400px - 48000%);
          min-width: -webkit-calc(100%);
          width: calc(230400px - 48000%);
          min-width: calc(100%);
        "
      >
        <div
          style="margin: 30px 0 10px 15px; display: inline-block; width: 100%"
        >
          <img
            src="https://ci6.googleusercontent.com/proxy/Ze9is4dJWNSY8IbFaVVt82FpyX-QrzjL-m10O4psIDYvsQyPEvO3xL2JgzQJxdVBo2yc5ElOP0pYOcDLp9oqz8DEeVTaWesGlbzjV6g1j9KrsncAcbTY81C0sINU6_hlzCg=s0-d-e1-ft#https://f.btwcdn.com/store-46701/store/ba280198-1a0f-dc32-eec9-601a05cc7214.jpg"
            style="
              width: 60px;
              padding: 3px;
              border: 1px solid #eee;
              display: inline-block;
              vertical-align: middle;
              margin-right: 10px;
            "
            class="CToWUd"
          /><strong
            style="
              display: inline-block;
              font-size: 16px;
              text-align: left;
              color: #242526;
              width: 75%;
            "
            >ข้าวมาบุญครอง (Mah Boonkrong Rice)</strong
          >
        </div>
      </div>
    </div>
    <div style="text-align: left; font-size: 14px">
      <div
        style="
          width: 100%;
          max-width: 100%;
          width: -webkit-calc(230400px - 48000%);
          min-width: -webkit-calc(100%);
          width: calc(230400px - 48000%);
          min-width: calc(100%);
        "
      >
        <div style="margin: 0 15px">
          <p style="color: #242526; line-height: 1.3">
            <strong> สวัสดี คุณ {{memberName}}, </strong>
          </p>
          <p style="color: #535658; line-height: 1.3">
            Email ฉบับนี้เป็นหลักฐานยืนยันว่า
            <strong>ข้าวมาบุญครอง (Mah Boonkrong Rice)</strong>
            ได้รับแจ้งการโอนเงินสำหรับใบสั่<wbr />งซื้อหมายเลข
            <strong style="color: #da004d">{{orderNumber}}</strong>
            จากคุณเรียบร้อยแล้ว เราจะรีบทำการตรวจสอบยอดเงิ<wbr />นและติดต่อกลับไปในไม่ช้า
          </p>
          <p style="color: #535658; line-height: 1.3">
            ขอบคุณที่ทำการสั่งซื้อสินค้<wbr />าจาก ข้าวมาบุญครอง (Mah Boonkrong
            Rice)
          </p>
        </div>
      </div>
    </div>
    <div style="margin: 20px 15px">
      <hr
        style="
          height: 0;
          border-right: 0;
          border-top: 0;
          border-bottom: 1px solid #e4e6e6;
          border-left: 0;
        "
      />
    </div>
    <div style="text-align: left; font-size: 14px">
      <div
        style="
          width: 100%;
          max-width: 100%;
          width: -webkit-calc(230400px - 48000%);
          min-width: -webkit-calc(100%);
          width: calc(230400px - 48000%);
          min-width: calc(100%);
        "
      >
        <div style="margin: 0 15px">
          <p style="margin: 15px 0; font-weight: bold; color: #242526">
            รายละเอียดของใบสั่งซื้อ: {{orderNumber}}
          </p>
        </div>
      </div>
    </div>
    <div style="font-size: 0">
      <!-- <% orderDetails.forEach(function(orderDetail) { %>
        <li><%= orderDetail.userName %></li>
      <% }); %> -->
      <table
        style="
          font-size: 14px;
          color: #666;
          border-spacing: 0;
          border-collapse: collapse;
          width: 100%;
        "
      >
        <tbody>
          <tr>
            <th></th>
            <th></th>
            <th width="30%"></th>
          </tr>
          <tr>
            <td
              style="
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 15px;
                padding-right: 15px;
              "
            >
              <img
                src="https://ci6.googleusercontent.com/proxy/V7DpYKpamQ1N73lEhITiUqdTxRGYqYubvPxglu-lcgUaY9VDDVeyPVNJ7aPx8sNwNZnOo6yYaqSqgABoTqNsiUjlVl8QPJIw1wyjblptBh3bc2wKkzgNpQN942CCV4kDh3ErD5ac3zlDdg=s0-d-e1-ft#https://f.btwcdn.com/store-46701/product-thumb/4572bb05-b1df-867b-12d3-61b1b178fe0b.jpg"
                style="width: 70px"
                class="CToWUd"
              />
            </td>
            <td
              style="
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 15px;
                padding-right: 15px;
                vertical-align: top;
                line-height: 1.3;
              "
            >
              กระเป๋าผ้าขาวม้าทอมือ (ใบเล็ก)<br />ธรรมดา
              <br />

              จำนวน&nbsp;1 x ฿ 150.00
            </td>
            <td
              style="
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 15px;
                padding-right: 15px;
                vertical-align: top;
                text-align: right;
              "
            >
              <strong>฿ 150.00</strong>
            </td>
          </tr>
          <tr>
            <td
              colspan="2"
              style="
                padding-top: 3px;
                padding-bottom: 3px;
                text-align: right;
                padding-left: 15px;
                padding-right: 15px;
              "
            >
              <strong>ยอดรวม</strong>
            </td>
            <td
              style="
                padding-top: 3px;
                padding-bottom: 3px;
                text-align: right;
                padding-left: 15px;
                padding-right: 15px;
              "
            >
              <strong>฿ 150.00</strong>
            </td>
          </tr>

          <tr>
            <td
              colspan="2"
              style="
                padding-top: 3px;
                padding-bottom: 3px;
                text-align: right;
                padding-left: 15px;
                padding-right: 15px;
              "
            >
              ค่าจัดส่ง จัดส่งโดยผู้ขาย
            </td>
            <td
              style="
                padding-top: 3px;
                padding-bottom: 3px;
                text-align: right;
                padding-left: 15px;
                padding-right: 15px;
              "
            >
              ฿ 0.00
            </td>
          </tr>

          <tr>
            <td
              colspan="2"
              style="
                padding-top: 3px;
                padding-bottom: 3px;
                color: #da004d;
                font-size: 16px;
                text-align: right;
                padding-left: 15px;
                padding-right: 15px;
              "
            >
              <strong>ยอดที่ต้องชำระ</strong>
            </td>
            <td
              style="
                padding-top: 3px;
                padding-bottom: 3px;
                color: #da004d;
                font-size: 16px;
                text-align: right;
                padding-left: 15px;
                padding-right: 15px;
              "
            >
              <strong>฿ 150.00</strong>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div style="margin: 15px">
      <hr
        style="
          height: 0;
          border-right: 0;
          border-top: 0;
          border-bottom: 1px solid #e4e6e6;
          border-left: 0;
        "
      />
    </div>
    <div style="text-align: center; font-size: 0; margin: 0 0 30px 0">
      <div
        style="
          display: inline-block;
          font-size: 13px;
          text-align: center;
          color: #979797;
          vertical-align: top;
          width: 100%;
          min-width: 480px;
          max-width: 100%;
          width: -webkit-calc(230400px - 48000%);
          min-width: -webkit-calc(100%);
          width: calc(230400px - 48000%);
          min-width: calc(100%);
        "
      >
        <p style="margin: 0 15px">
          ขอบคุณที่ใช้บริการ ข้าวมาบุญครอง (Mah Boonkrong Rice)
        </p>
        <p style="margin: 5px 15px">
          Email:
          <a
            href="mailto:mahboonkrongrice@gmail.com"
            style="color: #979797"
            target="_blank"
            >mahboonkrongrice@gmail.com</a
          >
          ,&nbsp; เบอร์โทรศัพท์: 025012175
        </p>
        <p style="margin: 5px 15px">
          <a
            href="https://click.pstmrk.it/2sm/www.facebook.com%2Fmahboonkrongrice/BUvDXikN/3eU/cmZzA9jJ2I/Y3VzdG9tZXItbm90aWZ5LXBheW1lbnQtY29uZmlybQ"
            style="display: inline-block"
            target="_blank"
            data-saferedirecturl="https://www.google.com/url?q=https://click.pstmrk.it/2sm/www.facebook.com%252Fmahboonkrongrice/BUvDXikN/3eU/cmZzA9jJ2I/Y3VzdG9tZXItbm90aWZ5LXBheW1lbnQtY29uZmlybQ&amp;source=gmail&amp;ust=1656954742166000&amp;usg=AOvVaw0N5rCeM6LXgIofAS6_vxv3"
            ><img
              src="https://ci6.googleusercontent.com/proxy/-iXaIveJSyPVY8aZ6U4Qk9W8NKwN2OBU5286K447rewrJmldWfdc2XOOzAWb5qsbaxZ4lNWfgxGZeZyCj4RpkGKjeoly=s0-d-e1-ft#https://queue.bentoweb.com/img/email/footer/fb.png"
              class="CToWUd" /></a
          ><a
            href="https://click.pstmrk.it/2sm/twitter.com%2Fmbkrice/BkvDXikN/3eU/9l_CPIIdsE/Y3VzdG9tZXItbm90aWZ5LXBheW1lbnQtY29uZmlybQ"
            style="display: inline-block"
            target="_blank"
            data-saferedirecturl="https://www.google.com/url?q=https://click.pstmrk.it/2sm/twitter.com%252Fmbkrice/BkvDXikN/3eU/9l_CPIIdsE/Y3VzdG9tZXItbm90aWZ5LXBheW1lbnQtY29uZmlybQ&amp;source=gmail&amp;ust=1656954742166000&amp;usg=AOvVaw2PYV7ChBZ0IihhCuCXHna3"
            ><img
              src="https://ci3.googleusercontent.com/proxy/RF0MDpjpGeH69RdQz0hu_NjHsPu0FCvqnY6OjmtHveBoHp3ha9kBvTC0XH72fNzPn1tOdQhih47iEcvV-kUuFmRCtwyH=s0-d-e1-ft#https://queue.bentoweb.com/img/email/footer/tw.png"
              class="CToWUd" /></a
          ><a
            href="https://click.pstmrk.it/2sm/instagram.com%2Fmahboonkrongrice/B0vDXikN/3eU/o42tXBq0F2/Y3VzdG9tZXItbm90aWZ5LXBheW1lbnQtY29uZmlybQ"
            style="display: inline-block"
            target="_blank"
            data-saferedirecturl="https://www.google.com/url?q=https://click.pstmrk.it/2sm/instagram.com%252Fmahboonkrongrice/B0vDXikN/3eU/o42tXBq0F2/Y3VzdG9tZXItbm90aWZ5LXBheW1lbnQtY29uZmlybQ&amp;source=gmail&amp;ust=1656954742167000&amp;usg=AOvVaw02Y5PE4K-KXrdR0QfwuTQf"
            ><img
              src="https://ci3.googleusercontent.com/proxy/uOndpkpybromziVPzdkSsJ0O7ugIC6LWRReGiIDHX3RuthMnwWK51J_gClanYmID_fKOZHU-eg0odCR_gig7KFlU-uMW=s0-d-e1-ft#https://queue.bentoweb.com/img/email/footer/ig.png"
              class="CToWUd" /></a
          ><a
            href="https://click.pstmrk.it/2m/line.me%2Fti%2Fp%2F%7E%40mahboonkrongrice/CEvDXikN/3eU/LUe7axEOjV/Y3VzdG9tZXItbm90aWZ5LXBheW1lbnQtY29uZmlybQ"
            style="display: inline-block"
            target="_blank"
            data-saferedirecturl="https://www.google.com/url?q=https://click.pstmrk.it/2m/line.me%252Fti%252Fp%252F%257E%2540mahboonkrongrice/CEvDXikN/3eU/LUe7axEOjV/Y3VzdG9tZXItbm90aWZ5LXBheW1lbnQtY29uZmlybQ&amp;source=gmail&amp;ust=1656954742167000&amp;usg=AOvVaw2gIdwLXH2-G8ImeYZefyW_"
            ><img
              src="https://ci4.googleusercontent.com/proxy/phVURImtQieyDPa7XTKUbRCYlkFDPVLxlePhUI_uUCHZl0FOjYzCLbBAzO3YS5ASe87oLqsbQ_neoeo0eFnUjdziRQ3Q84Q=s0-d-e1-ft#https://queue.bentoweb.com/img/email/footer/line.png"
              class="CToWUd" /></a
          ><a
            href="https://click.pstmrk.it/2sm/www.youtube.com%2Fmahboonkrongrice/CUvDXikN/3eU/WmW4JQsTED/Y3VzdG9tZXItbm90aWZ5LXBheW1lbnQtY29uZmlybQ"
            style="display: inline-block"
            target="_blank"
            data-saferedirecturl="https://www.google.com/url?q=https://click.pstmrk.it/2sm/www.youtube.com%252Fmahboonkrongrice/CUvDXikN/3eU/WmW4JQsTED/Y3VzdG9tZXItbm90aWZ5LXBheW1lbnQtY29uZmlybQ&amp;source=gmail&amp;ust=1656954742167000&amp;usg=AOvVaw3L97uFg6FoAhonJxf-xfcr"
            ><img
              src="https://ci3.googleusercontent.com/proxy/XXC8FeDql1wFBLuyBlWY_hkc6mnpUqoenZAzZYKHFfsAx2R3YKrRZC5Vp27m03mBcf1Lw4W36Tz2m9ZYWpLPaqyJOVbl=s0-d-e1-ft#https://queue.bentoweb.com/img/email/footer/yt.png"
              class="CToWUd" /></a
          ><a
            href="https://click.pstmrk.it/2sm/queue.bentoweb.com%2Fwww.mahboonkrongrice.com/CkvDXikN/3eU/pCxTGlHrNu/Y3VzdG9tZXItbm90aWZ5LXBheW1lbnQtY29uZmlybQ"
            style="display: inline-block"
            target="_blank"
            data-saferedirecturl="https://www.google.com/url?q=https://click.pstmrk.it/2sm/queue.bentoweb.com%252Fwww.mahboonkrongrice.com/CkvDXikN/3eU/pCxTGlHrNu/Y3VzdG9tZXItbm90aWZ5LXBheW1lbnQtY29uZmlybQ&amp;source=gmail&amp;ust=1656954742167000&amp;usg=AOvVaw0klprtqzQ3Sccl-XLl08m_"
            ><img
              src="https://ci6.googleusercontent.com/proxy/okcMwAbI8NLmeoOdfBNDbwhRXyBjyHyrUn_0F-epC1TQ0AQQOKd-jGpY1o5mkUmifwINKEPI3GBb2fY3KHdDaHAMdnz-Tw=s0-d-e1-ft#https://queue.bentoweb.com/img/email/footer/web.png"
              class="CToWUd"
          /></a>
        </p>
      </div>
    </div>
  </div>

  <img
    src="https://ci5.googleusercontent.com/proxy/flA_9ZpO8a9lFeCj1V1nIwjFV3xp01GnSgozi2FLgzMhxSKfMjf5pbuLV3FUdbBMmLbokoKn5CshrR2nLStyXWF6JYp-h5frtBZpL0YkBdH2nPnzaZ3KrY3anYauU3ybOLtO6QaJfaVRRjB6X8k9h6UqPwKeH9Nb4yfRHDssGf4ol4DsO9tvuXPsBpR0lPR6H-t_eyzP3Gx0wEbv7gV1qNz6mENRHsU2buC_P6fO4FRv0cq4YxNHNyGIt72jWaKkqhjqJO5SM4XJNd5C1QntTH87YUcfp1iNb4J54ZDq2rg3lD-WL6_4a-VzSNX-QngryBjOnn25-OmWe6G0EKH28BmF82AQL7B5ZsZWhJ6lFIqIQi28GLj34ptpE8od96qeByY9jX8UUMeLfQpacD9j_cnKlJba80D1bV4r350NhlfDrHjty1j-fxdGwxx4339zJBqbQlMthMvwMcXhRDKKoCQ_H7iMHKDvCWJA4HU8iPtcZEKU0lT1kmM2CD2hKhqpNg9DKBZP-3Qqxbq5lPvBhYyPIPVe9LXufkJ-Wu7O3oTWEknwD9glm3IVlZyCLk-hIpmXeBUMXy__SvEHtnJmue2yE5eglSZmrh_JefOu_J0uccZXSo8wtDNifYUWZnkT0dfl3O2w-rbSU1DuN1AgIn9dY5UJ6XiO6SUDuxc-xvMxVJ63uzXV2QnXpYKQWRO9kPHHIY_zuMSD_rnBsv86WTeADuL9nnkEGuNie-mk8l80ovodzFUBmSDXNochKGbyeFSaCWaocEdV6U9aOp6NU023IlpmNh992ADvNZuVrFZvd4woEAps1AgeThU_Wio_VohO6l5PqR4LXIYJUT5_H3h7Sf5UWRDx1kII2lu_8koyG9pfCO9gnEPvt8yx22d2M0iZsHUig0_CljxwshwQQNs=s0-d-e1-ft#https://ea.pstmrk.it/open/v3_WyGu64eHX0eDaTdTwwwidUwsxzmWa9STGeru3R2CZ194V0V9PFWJMU_k8eLp8myTGsZi6eCB7UakxS1Esb9bh0sa2W5x29Yl-MqN_LbyUVpEjdaWf9uu4d76cWw7lGFlt-zzgu3JyITx1sPSBfiwv7NqGcIAdeSoI3eZnAh5IBVoAzPbLtj33vsUFmmgglGlRMD38NHcAVcEFkJ2OHO7CCup8a9_b8z8c4yXLVytW_kYyjn5iZ5TlUsMSaw2oCFAlshlGjCxSmd87tKoa_z2vLU796HXcNE2Rq2nCnBeehRUXK_108dAUdEgUINdYxg--l_TaIW1xxtWTWE-QucRX6L_iVmhSEsjgxlqDhaVDXl6QxE45WwuyZk9cGWZH8AoTtk8VjyA3ygtEYqX73cFIsxMJPP86xfJiv3SidH61JyIlkcFf-0OEE6Jbc8B_MJwu819Sq1N0pYzJHSSjuUjKrxPPEvY12zKnRwGFKCYM14dk-vVNL87aPQc2OrswIGjftQlOLUHCIX9DmNC8BfobCkJ3VSRLH8u3qA2YI43NZyxzmJFmYsZbTd38AC7arATP1nVYgkBdhScSyLUGpr9LPP-T6vCJPyGpfAhq6Er4mQZAvetnF1AzyTtCUK_EXfl"
    width="1"
    height="1"
    border="0"
    alt=""
    class="CToWUd"
  />
</div>
